.column-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .column {
    text-align: center;
    transition: all .35s ease-in-out;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 900px;
    border-bottom: 5px solid $andrus_blue;
    a {
      text-decoration: none;
      color: #555;
    }
    p {
      margin: 0;
    }
    & * {
      transition: all .35s ease-in-out;
    }

    &:nth-of-type(even) {
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    .icon {
      position: absolute;
      z-index: 1;
      width: 100%;
      margin: 10px 0;
      opacity: 1;
    }
    .hover-icon {
      position: absolute;
      width: 100%;
      margin: 10px 0;
      opacity: 0;
    }

    .header-wrapper {
      display: flex;
      align-items: center;
      color: #fff;

      h2 {
        padding: 0 1em;
      }

      img {
        z-index: 999;
      }
      * {
        z-index: 999;
      }
    }

    &:hover {

      .header-wrapper {
        img {
          transform: rotate(90deg);
        }
      }
      .column-dropdown {
        height: 100%;
        max-height: 100%;
        bottom: 0;
        .column-content {
          max-height: calc(100% - 150px);
          height: 100%;
          transition: all .22s ease-in-out .2s;
          opacity: 1;
        }
      }
    }

    .column-dropdown {

      bottom: calc(100% - 120px);
      max-height: 100%;
      height: 100%;
      position: absolute;
      width: 100%;
      background: rgba(7, 72, 142, .70);
      z-index: 0;

      .column-content {
        margin: 0;
        padding: 0 2em;
        text-align: left;
        margin-top: 150px;
        color: #fff;
        max-height: 0;
        height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
        transition: opacity .25s ease-in-out .0s;

        p {
          color: #fff;
          font-size: 1.5rem;
          line-height: 1.5;
        }

        span {
          background: $andrus_red;
          margin-top: 4em;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 7px;
            background: $andrus_red;
            bottom: -16px;
          }

          a {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;

            &:hover {
              p {
                padding-right: 30px !important;
              }
            }

            p {
              font-family: Bebas Neue;
              text-transform: uppercase;
              font-size: 1.5rem;
              letter-spacing: 1.5px;
              padding-right: 15px;
            }
          }
        }

        ul {
          margin: 0;
          padding-top: 20px;

          li {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.count-two .column {
  flex-basis: calc(100% / 2 - 30px);
}

.count-three .column {
  flex-basis: calc(100% / 3);
  overflow: hidden;
}

.count-four .column {
  flex-basis: calc(100% / 4 - 10px);
  margin-bottom: 15px;
}

@media (max-width: $breakpoint-tablet) {
  .count-four .column {
    flex-basis: calc(100% / 2 - 10px);
  }
}

@media (max-width: $breakpoint-small-tablet) {
  .count-four .column,
  .count-three .column,
  .count-two .column {
    flex-basis: 100%;
  }
  .count-four .column:nth-child(2n+1):nth-last-child(-n+2),
  .count-four .column:nth-child(2n+1):nth-last-child(-n+2) ~ .column {
    margin-bottom: 15px;
  }
  .count-four .column:last-child {
    margin-bottom: 0 !important;
  }
  .count-three .column,
  .count-two .column {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*************************/

//FIX THIS LATER (MIX INTO ORIGINAL SCSS NESTING)

@media screen and (max-width: 1500px) {

  .column-wrapper .column:hover .column-dropdown .column-content {
    margin-top: 100px;
  }

  .column-wrapper .column .column-dropdown .column-content p {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .column-wrapper .column .column-dropdown .column-content ul li {
    font-size: 1.2rem;
  }

  .column-wrapper .column .column-dropdown .column-content span {
    margin-top: 3em;
  }

  .column-wrapper .column .column-dropdown .column-content span a p {
    font-size: 1.2rem;
    letter-spacing: .7px;
    padding-right: 10px;
  }

  .column-wrapper .column .column-dropdown .column-content span a:hover p {
    padding-right: 16px !important;
  }

  .column-wrapper .column {
    min-height: 800px;
  }

}

@media screen and (max-width: 1200px) {

  .column-wrapper .column .header-wrapper h2 {
    padding: 0 .4em;
    //font-size: 2rem;
  }

  .column-wrapper .column .column-dropdown .column-content {
    padding: 0 .5em;
  }

  .column-wrapper .column .header-wrapper {
    justify-content: center;
  }

  .column-wrapper .column .column-dropdown .column-content p {
    font-size: 1.2rem;
  }

  .column-wrapper .column .column-dropdown .column-content ul {
    padding-top: 20px;
    padding-left: 21px;
  }

  .column-wrapper .column .column-dropdown .column-content span a p {
    //font-size: 1.1rem;
  }

  .column-wrapper .column .column-dropdown .column-content ul li {
    //font-size: 1.1rem;
  }

  .column-wrapper .column {
    min-height: 690px;
  }
}

@media screen and (max-width: 980px) {

  .column-wrapper.count-three {
    flex-direction: column;
    background: rgba(7, 72, 142, 0.7);
  }

  .column-wrapper {

    .column {

      min-height: 200px;
      height: 200px;
      margin: 0;
      border-bottom: 3px solid #fff;

      &:nth-of-type(even) {
        border-left: none;
        border-right: none;
      }

      .column-dropdown {

        bottom: 0;

        .column-content {
          padding: 0 4rem;

          span {
            a {
              p {
                font-size: 1.8rem;
              }
            }
          }

          p {
            font-size: 1.4rem;
          }
        }

      }

      &:hover {
        height: 550px;
      }

      .header-wrapper {
        justify-content: flex-start;

        h2 {

          font-size: 2.8rem;
          padding-left: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .column-wrapper .column {
    min-height: 150px;
    height: 150px;
  }
}


@media screen and (max-width: 768px) {
  .column-wrapper .column .column-dropdown .column-content span a p {
    font-size: 1.5rem;
  }
}
