.flex {
  @include flexbox();

  > * {
    flex-basis:calc(100% / 1);
  }

  &-2 {
  display: flex;
    > * {
      flex-basis:calc(100% / 2);
    }
  }
  &-3 {
  display: flex;
    > * {
      flex-basis:calc(100% / 3);
    }
  }
  &-4 {
  display: flex;
    > * {
      flex-basis:calc(100% / 4);
    }
  }
  &-5 {
  display: flex;
    > * {
      flex-basis:calc(100% / 5);
    }
  }

  &.column {
    flex-direction: column;

    &-r {
      flex-direction: column-reverse;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

li, p {
  font-size: 1.2rem;
}

span.hide-mobile:after {
  content: none !important;
}



/*--------------------------------------------------------------
# Slider Hero
--------------------------------------------------------------*/
@import "slider-hero";

/*--------------------------------------------------------------
# Slider Content
--------------------------------------------------------------*/
@import "slider-content";

/*--------------------------------------------------------------
# Slider Content
--------------------------------------------------------------*/
@import "full-width-content";

/*--------------------------------------------------------------
# Slider Content
--------------------------------------------------------------*/
@import "content-content";

/*--------------------------------------------------------------
# Slider Content
--------------------------------------------------------------*/
@import "columns";

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
@import "testimonials";

/*--------------------------------------------------------------
# Posistions Banner
--------------------------------------------------------------*/
@import "positions-banner";

/*--------------------------------------------------------------
# Small Hero Header
--------------------------------------------------------------*/
@import "hero-header";

/*--------------------------------------------------------------
# Sixty Forty
--------------------------------------------------------------*/
@import "sixty-forty";

/*--------------------------------------------------------------
# Form Banner
--------------------------------------------------------------*/
@import "form-banner";

/*--------------------------------------------------------------
# thin-banner
--------------------------------------------------------------*/
@import "thin-banner";


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
@import "gallery";
