div#thin-banner {
  background-color: #084ba1;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 12px;
  position: relative;
  a {
    color: inherit;
  }

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 8px solid #fff;
    bottom: 10px;
  }

  .thin-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    h3,
    h2 {
      margin: 0;
    }
  }
}

