.gallery-wrap {
  max-width: 460px;
}

body:not(.home) .content-flex-wrapper.padded .ribbon-wrapper {
  padding: 40px 20px;
}

.gallery-wrap .owl-dot {
  min-width: 180px;
}
div#thin-banner .thin-wrapper h2 {
  font-size: 2rem;
}


div#thin-banner .thin-wrapper h3 {font-size: 1.6rem;}


.vid-list-wrapper .vid-box .vid-title h3 {
  font-size: 1.6rem;
}