.banner-wrapper .banner .br-l {
  display: none;
}

.column-wrapper .column {
  min-height: 105px;
  max-height: 105px;
  height: 105px;
}
.column-wrapper .column .header-wrapper h2 {
  font-size: 1.8rem;
  line-height: 70px;
}

.gallery-wrap .owl-dot {
  min-width: 80px;
}
div#thin-banner .thin-wrapper h2 {
  font-size: 2.4rem;
}

div#thin-banner .thin-wrapper h3 {font-size: 2rem;line-height: 1;text-align: center;}

.large-image-wrapper {
  flex-direction: column;
  padding: 20px 0 0 0;
}

body .gform_footer input.gform_button.button[type="submit"] {
  width: 100% !important;
}



.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first {
  margin-bottom: 1rem;
}
